# Tp pour l'utilisation de panda

# Importation de packages 

import numpy as np
import pandas as pd

Utilisez le lien suivant pour importer la base de données 
https://koumoul.com/s/data-fair/api/v1/datasets/igt-pouvoir-de-rechauffement-global/convert

Utilisez read_csv pour lire les données

1-Affichez le tableau des données 

2-Affichez le nom de chaque "colums"

3-Affichez les 10 première lignes, les 10 dernière et les lignes entre 100, 120.

4-Afficher le type de chaque "colums".

5- Remplacer les espaces par _ dans les noms des colonnes.

6-affichez les informations de cette base de données (mean, min , max).

7- Enlevez  les colonnes "Autres transports" et "Autres transports international" 

8-Créez un nouveau tableau qui contient deux colums "commune" et "déchets"

9-Triez le tableau (  décroissante) et enlevez les lignes avec information manquante " NaN".

9B-Affichez la commune qui a plus de déchets et la commune qui a le moins

10-Remplacer un nom de commune (par exemple 'BEZONVAUX' par 'Commune non identifié')

11-Afficher les commune qui ont les Déchet < 10^5. 

12- Définir la colonne 'Commune' comme l'index du Dataframe

13- Affichez la ligne de la commune RANZEVELLE avec tout les colonnes (utilisez loc)

In [70]:
from numpy import array
from pandas import read_csv

In [71]:
data = read_csv('https://koumoul.com/s/data-fair/api/v1/datasets/igt-pouvoir-de-rechauffement-global/convert')

data

,INSEE commune,Commune,Agriculture,Autres transports,Autres transports international,CO2 biomasse hors-total,Déchets,Energie,Industrie hors-énergie,Résidentiel,Routier,Tertiaire
0,01001,L'ABERGEMENT-CLEMENCIAT,3711.425991,NaN,NaN,432.751835,101.430476,2.354558,6.911213,309.358195,793.156501,367.036172
1,01002,L'ABERGEMENT-DE-VAREY,475.330205,NaN,NaN,140.741660,140.675439,2.354558,6.911213,104.866444,348.997893,112.934207
2,01004,AMBERIEU-EN-BUGEY,499.043526,212.577908,NaN,10313.446515,5314.314445,998.332482,2930.354461,16616.822534,15642.420313,10732.376934
3,01005,AMBERIEUX-EN-DOMBES,1859.160954,NaN,NaN,1144.429311,216.217508,94.182310,276.448534,663.683146,1756.341319,782.404357
4,01006,AMBLEON,448.966808,NaN,NaN,77.033834,48.401549,NaN,NaN,43.714019,398.786800,51.681756
...,...,...,...,...,...,...,...,...,...,...,...,...
35793,95676,VILLERS-EN-ARTHIES,1628.065094,NaN,NaN,165.045396,65.063617,11.772789,34.556067,176.098160,309.627908,235.439109
35794,95678,VILLIERS-ADAM,698.630772,NaN,NaN,1331.126598,111.480954,2.354558,6.911213,1395.529811,18759.370071,403.404815
35795,95680,VILLIERS-LE-BEL,107.564967,NaN,NaN,8367.174532,225.622903,534.484607,1568.845431,22613.830247,12217.122402,13849.512001
35796,95682,VILLIERS-LE-SEC,1090.890170,NaN,NaN,326.748418,108.969749,2.354558,6.911213,67.235487,4663.232127,85.657725
35797,95690,WY-DIT-JOLI-VILLAGE,1495.103542,NaN,NaN,125.236417,97.728612,4.709115,13.822427,117.450851,504.400972,147.867245

In [72]:
data.columns

## OU

columns = []
for col in data:
    columns.append(col)

columns

['INSEE commune',
 'Commune',
 'Agriculture',
 'Autres transports',
 'Autres transports international',
 'CO2 biomasse hors-total',
 'Déchets',
 'Energie',
 'Industrie hors-énergie',
 'Résidentiel',
 'Routier',
 'Tertiaire']

In [73]:
data.head(10)

,INSEE commune,Commune,Agriculture,Autres transports,Autres transports international,CO2 biomasse hors-total,Déchets,Energie,Industrie hors-énergie,Résidentiel,Routier,Tertiaire
0,01001,L'ABERGEMENT-CLEMENCIAT,3711.425991,NaN,NaN,432.751835,101.430476,2.354558,6.911213,309.358195,793.156501,367.036172
1,01002,L'ABERGEMENT-DE-VAREY,475.330205,NaN,NaN,140.741660,140.675439,2.354558,6.911213,104.866444,348.997893,112.934207
2,01004,AMBERIEU-EN-BUGEY,499.043526,212.577908,NaN,10313.446515,5314.314445,998.332482,2930.354461,16616.822534,15642.420313,10732.376934
3,01005,AMBERIEUX-EN-DOMBES,1859.160954,NaN,NaN,1144.429311,216.217508,94.182310,276.448534,663.683146,1756.341319,782.404357
4,01006,AMBLEON,448.966808,NaN,NaN,77.033834,48.401549,NaN,NaN,43.714019,398.786800,51.681756
5,01007,AMBRONAY,4390.996698,132.968268,NaN,3067.245459,6144.186081,122.437003,359.383094,1898.638273,22481.123575,2789.133106
6,01008,AMBUTRIX,489.648726,60.233517,NaN,558.055709,98.388885,2.354558,6.911213,495.393592,3616.168396,356.029873
7,01009,ANDERT-ET-CONDON,676.468367,NaN,NaN,207.181968,149.767083,2.354558,6.911213,141.533662,696.956038,161.266219
8,01010,ANGLEFORT,1070.411510,143.815664,NaN,1286.621447,146.525382,341.410872,175185.892467,448.518801,3199.808360,1206.147643
9,01011,APREMONT,2010.790441,NaN,NaN,249.086914,52.103791,2.354558,6.911213,151.844891,686.153720,188.542701

In [74]:
data.tail(10)

,INSEE commune,Commune,Agriculture,Autres transports,Autres transports international,CO2 biomasse hors-total,Déchets,Energie,Industrie hors-énergie,Résidentiel,Routier,Tertiaire
35788,95652,VIARMES,252.094735,55.168176,NaN,1278.247866,43.526914,40.027482,117.490627,6546.179324,5705.777606,2521.399729
35789,95656,VIENNE-EN-ARTHIES,324.827105,NaN,NaN,98.346155,57.129030,2.354558,6.911213,158.726900,305.819555,206.727023
35790,95658,VIGNY,1289.190261,NaN,NaN,1616.838995,2297.572718,313.156180,919.191376,1424.373138,8539.961119,516.817557
35791,95660,VILLAINES-SOUS-BOIS,447.132894,18.996282,NaN,207.294216,92.966916,11.772789,34.556067,1023.037832,912.992023,336.409947
35792,95675,VILLERON,1335.123315,4.975886,NaN,1625.523404,104.075339,320.219853,939.925016,617.177184,7740.572805,725.467969
35793,95676,VILLERS-EN-ARTHIES,1628.065094,NaN,NaN,165.045396,65.063617,11.772789,34.556067,176.098160,309.627908,235.439109
35794,95678,VILLIERS-ADAM,698.630772,NaN,NaN,1331.126598,111.480954,2.354558,6.911213,1395.529811,18759.370071,403.404815
35795,95680,VILLIERS-LE-BEL,107.564967,NaN,NaN,8367.174532,225.622903,534.484607,1568.845431,22613.830247,12217.122402,13849.512001
35796,95682,VILLIERS-LE-SEC,1090.890170,NaN,NaN,326.748418,108.969749,2.354558,6.911213,67.235487,4663.232127,85.657725
35797,95690,WY-DIT-JOLI-VILLAGE,1495.103542,NaN,NaN,125.236417,97.728612,4.709115,13.822427,117.450851,504.400972,147.867245

In [75]:
data[100:120]

,INSEE commune,Commune,Agriculture,Autres transports,Autres transports international,CO2 biomasse hors-total,Déchets,Energie,Industrie hors-énergie,Résidentiel,Routier,Tertiaire
100,01108,COLIGNY,1511.072353,88.881769,NaN,846.031364,153.930997,32.963808,96.756987,842.458128,3959.037385,557.014478
101,01109,COLLONGES,3072.915655,200.240698,NaN,1244.357152,17.381026,9.418231,27.644853,887.889464,4123.202135,1006.837166
102,01110,COLOMIEU,623.859172,NaN,NaN,87.727714,73.263634,2.354558,6.911213,51.719282,264.103097,59.338312
103,01111,CONAND,160.139326,NaN,NaN,89.864443,43.376216,2.354558,6.911213,49.388518,484.438778,54.074430
104,01112,CONDAMINE,441.833276,NaN,NaN,322.746765,55.145383,35.318366,103.668200,179.356227,515.489811,199.549001
105,01113,CONDEISSIAT,6523.517707,NaN,NaN,507.965871,106.587958,2.354558,6.911213,337.976466,1129.499906,385.699029
106,01114,CONFORT,920.380062,NaN,NaN,861.154357,405.337291,190.719177,559.808281,225.268945,723.465471,266.065335
107,01115,CONFRANCON,4222.906321,NaN,NaN,1981.670716,174.693167,87.118636,255.714894,563.045434,16783.947350,632.144438
108,01116,CONTREVOZ,1113.763283,NaN,NaN,334.922441,145.270345,7.063673,20.733640,212.538328,1060.331751,247.881013
109,01117,CONZIEU,693.312403,NaN,NaN,95.135514,19.307496,2.354558,6.911213,59.149298,223.407497,69.866077
110,01118,CORBONOD,2244.401789,94.561375,NaN,934.156247,161.204369,65.927617,193.513974,500.493307,2680.536888,583.333891
111,01121,CORLIER,763.841870,NaN,NaN,131.683361,15.340202,16.481904,48.378493,46.389231,360.701344,55.510034
112,01122,CORMARANCHE-EN-BUGEY,1020.579097,NaN,NaN,548.434440,134.359486,35.318366,103.668200,323.757897,1147.594565,383.306355
113,01123,CORMORANCHE-SUR-SAONE,705.349982,253.233559,11.712017,999.105313,141.500143,129.500676,380.116734,793.374953,1974.623926,512.032209
114,01124,CORMOZ,2683.895188,NaN,NaN,381.549168,152.312079,2.354558,6.911213,499.368314,710.206954,319.661230
115,01125,CORVEISSIAT,3091.440254,5.726155,NaN,943.636236,172.578786,176.591831,518.341001,267.134288,1963.450509,295.255956
116,01127,COURMANGOUX,2260.645148,NaN,NaN,332.770723,105.431467,14.127346,41.467280,209.260677,664.017136,242.617131
117,01128,COURTES,1435.128148,NaN,NaN,196.724687,108.374419,2.354558,6.911213,116.539124,686.535155,134.946807
118,01129,CRANS,1201.840817,NaN,NaN,166.213787,111.680592,2.354558,6.911213,102.908913,392.735118,126.333181
119,01130,CRAS-SUR-REYSSOUZE,2253.294141,NaN,NaN,887.826995,254.635315,44.736597,131.313054,1127.349669,1901.695703,664.206268

In [76]:
data.dtypes

INSEE commune                       object
Commune                             object
Agriculture                        float64
Autres transports                  float64
Autres transports international    float64
CO2 biomasse hors-total            float64
Déchets                            float64
Energie                            float64
Industrie hors-énergie             float64
Résidentiel                        float64
Routier                            float64
Tertiaire                          float64
dtype: object

In [77]:
data.rename(columns= lambda x: x.replace(' ','_'))

,INSEE_commune,Commune,Agriculture,Autres_transports,Autres_transports_international,CO2_biomasse_hors-total,Déchets,Energie,Industrie_hors-énergie,Résidentiel,Routier,Tertiaire
0,01001,L'ABERGEMENT-CLEMENCIAT,3711.425991,NaN,NaN,432.751835,101.430476,2.354558,6.911213,309.358195,793.156501,367.036172
1,01002,L'ABERGEMENT-DE-VAREY,475.330205,NaN,NaN,140.741660,140.675439,2.354558,6.911213,104.866444,348.997893,112.934207
2,01004,AMBERIEU-EN-BUGEY,499.043526,212.577908,NaN,10313.446515,5314.314445,998.332482,2930.354461,16616.822534,15642.420313,10732.376934
3,01005,AMBERIEUX-EN-DOMBES,1859.160954,NaN,NaN,1144.429311,216.217508,94.182310,276.448534,663.683146,1756.341319,782.404357
4,01006,AMBLEON,448.966808,NaN,NaN,77.033834,48.401549,NaN,NaN,43.714019,398.786800,51.681756
...,...,...,...,...,...,...,...,...,...,...,...,...
35793,95676,VILLERS-EN-ARTHIES,1628.065094,NaN,NaN,165.045396,65.063617,11.772789,34.556067,176.098160,309.627908,235.439109
35794,95678,VILLIERS-ADAM,698.630772,NaN,NaN,1331.126598,111.480954,2.354558,6.911213,1395.529811,18759.370071,403.404815
35795,95680,VILLIERS-LE-BEL,107.564967,NaN,NaN,8367.174532,225.622903,534.484607,1568.845431,22613.830247,12217.122402,13849.512001
35796,95682,VILLIERS-LE-SEC,1090.890170,NaN,NaN,326.748418,108.969749,2.354558,6.911213,67.235487,4663.232127,85.657725
35797,95690,WY-DIT-JOLI-VILLAGE,1495.103542,NaN,NaN,125.236417,97.728612,4.709115,13.822427,117.450851,504.400972,147.867245

In [78]:
data.describe()

,Agriculture,Autres transports,Autres transports international,CO2 biomasse hors-total,Déchets,Energie,Industrie hors-énergie,Résidentiel,Routier,Tertiaire
count,35736.000000,9979.000000,2.891000e+03,35798.000000,35792.000000,3.449000e+04,3.449000e+04,35792.000000,35778.000000,35798.000000
mean,2459.975760,654.919940,7.692345e+03,1774.381550,410.806329,6.625698e+02,2.423128e+03,1783.677872,3535.501245,1105.165915
std,2926.957701,9232.816833,1.137643e+05,7871.341922,4122.472608,2.645571e+04,5.670374e+04,8915.902379,9663.156628,5164.182507
min,0.003432,0.000204,3.972950e-04,3.758088,0.132243,2.354558e+00,1.052998e+00,1.027266,0.555092,0.000000
25%,797.682631,52.560412,1.005097e+01,197.951108,25.655166,2.354558e+00,6.911213e+00,96.052911,419.700460,94.749885
50%,1559.381285,106.795928,1.992434e+01,424.849988,54.748653,4.709115e+00,1.382243e+01,227.091193,1070.895593,216.297718
75%,3007.883903,237.341501,3.298311e+01,1094.749825,110.820941,5.180027e+01,1.520467e+02,749.469293,3098.612157,576.155869
max,98949.317760,513140.971691,3.303394e+06,576394.181208,275500.374439,2.535858e+06,6.765119e+06,410675.902028,586054.672836,288175.400126

In [79]:
data.drop(columns=['Autres transports', 'Autres transports international'])

,INSEE commune,Commune,Agriculture,CO2 biomasse hors-total,Déchets,Energie,Industrie hors-énergie,Résidentiel,Routier,Tertiaire
0,01001,L'ABERGEMENT-CLEMENCIAT,3711.425991,432.751835,101.430476,2.354558,6.911213,309.358195,793.156501,367.036172
1,01002,L'ABERGEMENT-DE-VAREY,475.330205,140.741660,140.675439,2.354558,6.911213,104.866444,348.997893,112.934207
2,01004,AMBERIEU-EN-BUGEY,499.043526,10313.446515,5314.314445,998.332482,2930.354461,16616.822534,15642.420313,10732.376934
3,01005,AMBERIEUX-EN-DOMBES,1859.160954,1144.429311,216.217508,94.182310,276.448534,663.683146,1756.341319,782.404357
4,01006,AMBLEON,448.966808,77.033834,48.401549,NaN,NaN,43.714019,398.786800,51.681756
...,...,...,...,...,...,...,...,...,...,...
35793,95676,VILLERS-EN-ARTHIES,1628.065094,165.045396,65.063617,11.772789,34.556067,176.098160,309.627908,235.439109
35794,95678,VILLIERS-ADAM,698.630772,1331.126598,111.480954,2.354558,6.911213,1395.529811,18759.370071,403.404815
35795,95680,VILLIERS-LE-BEL,107.564967,8367.174532,225.622903,534.484607,1568.845431,22613.830247,12217.122402,13849.512001
35796,95682,VILLIERS-LE-SEC,1090.890170,326.748418,108.969749,2.354558,6.911213,67.235487,4663.232127,85.657725
35797,95690,WY-DIT-JOLI-VILLAGE,1495.103542,125.236417,97.728612,4.709115,13.822427,117.450851,504.400972,147.867245

In [80]:
reduced_df = data[['Commune', 'Déchets']].copy()

reduced_df

                       Commune      Déchets
0      L'ABERGEMENT-CLEMENCIAT   101.430476
1        L'ABERGEMENT-DE-VAREY   140.675439
2            AMBERIEU-EN-BUGEY  5314.314445
3          AMBERIEUX-EN-DOMBES   216.217508
4                      AMBLEON    48.401549
...                        ...          ...
35793       VILLERS-EN-ARTHIES    65.063617
35794            VILLIERS-ADAM   111.480954
35795          VILLIERS-LE-BEL   225.622903
35796          VILLIERS-LE-SEC   108.969749
35797      WY-DIT-JOLI-VILLAGE    97.728612

[35798 rows x 2 columns]

In [81]:
data.sort_values(by='Déchets',ascending=False)

data = data.dropna()

data

,INSEE commune,Commune,Agriculture,Autres transports,Autres transports international,CO2 biomasse hors-total,Déchets,Energie,Industrie hors-énergie,Résidentiel,Routier,Tertiaire
14,01016,ARBIGNY,1659.900746,382.957621,2.209492e+01,346.188954,56.467814,14.127346,41.467280,171.499783,993.374941,204.334349
19,01023,ASNIERES-SUR-SAONE,1595.032852,93.343398,5.385492e+00,81.100935,9.124776,2.354558,6.911213,28.283499,171.864555,33.018899
26,01030,BEAUREGARD,456.156081,45.030749,2.598071e+00,442.846996,115.844977,4.709115,13.822427,956.864302,598.974811,419.196463
51,01057,BOZ,1051.119972,72.624599,4.190111e+00,745.600335,67.179507,160.109926,469.962508,197.223231,561.775483,243.095666
113,01123,CORMORANCHE-SUR-SAONE,705.349982,253.233559,1.171202e+01,999.105313,141.500143,129.500676,380.116734,793.374953,1974.623926,512.032209
...,...,...,...,...,...,...,...,...,...,...,...,...
35757,95527,ROISSY-EN-FRANCE,1150.313505,44883.982753,1.101131e+06,27299.241607,2838.469062,1438.634780,4222.751357,3826.221784,147040.904455,59257.028356
35767,95572,SAINT-OUEN-L'AUMONE,205.745038,853.382073,2.446805e+01,38880.789785,66612.893052,10901.602342,31998.917814,21526.755829,56591.801627,26677.863841
35783,95628,VALMONDOIS,646.421867,9.055189,2.015080e-01,633.754921,158.691749,136.564349,400.850374,2272.901317,589.164544,574.241730
35785,95637,VAUREAL,203.969473,93.811651,5.412508e+00,2876.820106,129.738126,63.573059,186.602760,13963.143585,4982.982966,7515.388640
35787,95651,VETHEUIL,125.928390,175.096168,1.010226e+01,290.066886,114.522546,16.481904,48.378493,1439.077120,1472.779256,414.411115

In [82]:
groupby = data.groupby('Commune')['Déchets'].sum()

more = groupby.max()
less = groupby.min()

print(groupby.idxmax(), more)
print(groupby.idxmin(), less)

FOS-SUR-MER 275500.37443878
RANZEVELLE 3.17383498527132

In [83]:
data.loc[data['Commune'] == 'BEZONVAUX', 'Commune'] = 'non identifié'

In [84]:
data[data['Déchets'] < 10**5]['Commune']

14                     ARBIGNY
19          ASNIERES-SUR-SAONE
26                  BEAUREGARD
51                         BOZ
113      CORMORANCHE-SUR-SAONE
                 ...
35757         ROISSY-EN-FRANCE
35767      SAINT-OUEN-L'AUMONE
35783               VALMONDOIS
35785                  VAUREAL
35787                 VETHEUIL
Name: Commune, Length: 2818, dtype: object

In [85]:
data = data.set_index('Commune')

In [86]:
data.loc['RANZEVELLE']

INSEE commune                            70437
Agriculture                        1312.166316
Autres transports                   163.779604
Autres transports international       9.449343
CO2 biomasse hors-total              70.896891
Déchets                               3.173835
Energie                               2.354558
Industrie hors-énergie                6.911213
Résidentiel                           13.83034
Routier                             134.551058
Tertiaire                            11.484835
Name: RANZEVELLE, dtype: object

# Exercice 2 

A partir de l'ensemble de données donné automobile_data.csv ,

Afficher  les cinq premières et dernières lignes.

Nettoyer l'ensemble de données et mettre à jour le fichier CSV

Conseil  : remplacez toutes les valeurs de colonne qui contiennent ?, n.a, ou NaN.

Trouver le nom de l'entreprise automobile la plus chère

Affichez  les détails de toutes les voitures Toyota

Compter le nombre total de voitures par société

Trouver la voiture la plus chère de chaque société

Déterminer le kilométrage moyen de chaque constructeur automobile

Trier toutes les voitures par colonne de prix

In [87]:
from pandas import read_csv

data = read_csv('data_automobile.csv')

data

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [88]:
data.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [89]:
data.tail(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [91]:
data.fillna(0, inplace= True)

data.replace({'?': 0, 'n.a': 0}, inplace=True)


data

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

TypeError: can only concatenate str (not "int") to str